@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-cormorant: 'Cormorant Garamond', serif;
  --font-playwrite: 'Playwrite Deutschland Grundschrift', cursive;
}